<%=  form_for(current_user) do |f|  %>

  <!-- Error handling: -->
  <% if current_user.errors.any? %>
    <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% current_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :user_name %><br>
  <%= f.text_field :user_name, :placeholder => current_user.user_name %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit 'Edit' %>
<% end %>
